.main-page {
  padding: 75px 10px 75px 10px;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.main-page .search-label {
  position: relative;
  align-self: center;
  display: flex;
  align-items: center;
  width: 300px;
}

.main-page .search-label input {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  padding-right: 55px;
}

.main-page .search-label button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  height: 100%;
  width: 25%;
}

.main-page .search-label button img {
  height: 55%;
}

.album-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}