.audio-player {
  background-color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid gray;
}

.audio-player .disabled {
  opacity: 0.5;
}

.audio-player .track-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  font-size: 1.5rem;
}

audio {
  width: 45%;
}
