header {
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid gray;
}

header h1 {
  width: 70%;
  padding-left: 30px;
}

.nav-bar {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 0 1vw 0 0;
  height: 55px;
  width: 30%;
}

.nav-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 65px;
}

.nav-bar a img {
  height: 60%;
}

.nav-bar .search-label {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.nav-bar .search-label button {
  background-color: transparent;
  border: none;
  height: 75%;
  width: 25%;
  position: absolute;
  right: 0;
}

.nav-bar .search-label button img {
  height: 55%;
}

.search-bar {
  width: 200px;
  height: 75%;
  padding: 0 40px 0 10px;
  border: 1px solid gray;
  border-radius: 15px;
}

.navigation-btns {
  display: flex;
}

.navigation-btns .active {
  background-color: black;
}

.navigation-btns .active img {
  filter: grayscale(100%) invert();
}
